body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  
}
.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1{
  text-align: center;
}

